# Node
node_modules/
web/node_modules/

# Next.js
web/.next/
web/out/
web/.turbo/
web/.vercel/

# Env files
web/.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/editor
.DS_Store
.idea/
.vscode/
*.swp

# Firebase local
firebase-debug.log
web/firebase-debug.log
.firebaserc.local

# Build caches
web/.cache/
web/.parcel-cache/


